*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid;
}
.app{
    min-height: 100vh;
    background-color: rgb(177, 177, 177);
}
.navbar{
    min-height: 90vh;
    background-color: aqua;
}
main{

}
footer{
    min-height: 10vh;
    text-align: center;
}